<!DOCTYPE html>
<html>
    <head>
        {% set page_name = 'Users' %} {% include './modules/head.html' %}
    </head>


    <body class="fixed-left">

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div id="wrapper">

            {% include "./modules/left.html" %}

            <!-- Start right Content here -->

            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <div class="topbar">

                        <nav class="navbar-custom">

                            <ul class="list-inline float-right mb-0">
                              
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                        <img src="assets/images/users/avatar-5.jpg" alt="user" class="rounded-circle">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                        <a class="dropdown-item" href="logout"><i class="mdi mdi-logout m-r-5 text-muted"></i> Выход</a>
                                    </div>
                                </li>

                            </ul>

                            <ul class="list-inline menu-left mb-0">
                                <li class="list-inline-item">
                                    <button type="button" class="button-menu-mobile open-left waves-effect">
                                        <i class="ion-navicon"></i>
                                    </button>
                                </li>
                                <li class="hide-phone list-inline-item app-search">
                                    <h3 class="page-title">Портал технической поддержки | Пользователи</h3>
                                </li>
                            </ul>

                            <div class="clearfix"></div>

                        </nav>

                    </div>
                    <!-- Top Bar End -->

                    <div class="page-content-wrapper ">

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-12">
                                    <div class="card m-b-30">
                                        <div class="card-body">

                                            <h4 class="mt-0 header-title">Пользователи</h4>
                                            <p class="text-muted m-b-30 font-14">
                                                В этой таблице представлены все пользователи.
                                            </p>

                                            <table id="datatable" class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Идентификатор</th>
                                                    <th>Логин</th>
                                                    <th>Дата регистрации</th>
                                                    <th>Роль</th>
                                                    <th>Действия</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                               
                                                    {% for user in users %}
                                                    <tr>
                                                        <td>#{{ user[0] }}</td>
                                                        <td>{{ user[1] }}</td>
                                                        <td>{{ user[2] }}</td>
                                                        <td>{{ user[3] }}</td>
                                                      
                                                        <td class="text-center">
                                                            <button type="button" class="btn btn-dark waves-effect waves-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                              Действия
                                                            </button>
                                                            <div class="dropdown-menu" style="">
                                                              <a class="btn btn-outline-info waves-effect waves-light dropdown-item" href="view_profile?user_id={{ user[0] }}">Подробнее</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}                                                    
                                                    

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                    </div> <!-- Page content Wrapper -->

                </div> <!-- content -->

                <footer class="footer">
                    © 2024 ParinovYT  <i class="mdi mdi-heart text-danger"></i>
                </footer>

            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->

        {% include './modules/scripts.html' %}
  
        <script>
            function close_ticket(id) {
              $.post('/add_comment', { ticket_id: id, sender: 'system', text: 'Пользователь закрыл обращение' }, function(response) {
                location.reload();  // Перезагрузка страницы после добавления комментария
              });
            }
          </script>

    </body>
</html>