<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">
<head>
    {% set page_name = '500' %} {% include './modules/head.html' %}
</head>
    <body style="overflow: visible;">
        <div class="accountbg"></div>
        <div class="wrapper-page">
            <div class="card">
                <div class="card-block">
                    <div class="ex-page-content text-center">
                        <h1 class="">500</h1>
                        <h3 class="">{{error}}</h3>
                    </div>
                </div>
            </div>
        </div>
        {% include './modules/scripts.html' %}
    </body>
</html>