<style>
    .user-message {
      background-color: #f0f0f0;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
    }
    .support-message {
      background-color: #e2f0cb;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
    }
    .system-message {
        background-color: #efcbf0;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }
    .c1 {
        background-color: transparent;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
      }
  </style>