 <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
        <i class="ion-close"></i>
    </button>
    
      <!-- LOGO -->
      <div class="topbar-left">
        <div class="text-center">
            <div id="animationSandbox" style="display: block;" class="logo bounceInRight animated">
                <img src="assets/images/logo.png" alt="logo" height="24" class="img-fluid center-block">
            </div>
        </div>
    </div>

    <div class="sidebar-inner slimscrollleft">

        <div class="user-details">
            <div class="text-center">
                <img src="assets/images/users/avatar-5.jpg" alt="" class="rounded-circle">
            </div>
            <div class="user-info">
                    <h4 class="font-16 text-white">{{login}}</h4>
                    <h4 class="font-14 text-white">{{rule}}</h4>
            </div>
        </div>

    <div id="sidebar-menu">
        <ul>
            <li class="menu-title text-white">Меню</li>

        <li>
            <a href="home" class="waves-effect">
                <i class="ti-home"></i>
                <span> Главная <span class="badge badge-primary"></span></span>
            </a>
        </li>


        {% if rule == 'Пользователь'  %}

        
        <li>
            <a href="my_tickets" class="waves-effect">
                <i class="fa fa-ticket"></i>
                <span> Мои заявки <span class="badge badge-primary"></span></span>
            </a>
        </li>

        <li>
            <a href="add_ticket" class="waves-effect">
                <i class="fa fa-ticket"></i>
                <span> Создать заявку <span class="badge badge-primary"></span></span>
            </a>
        </li>


        {% else  %}

        <li>
            <a href="my_tickets" class="waves-effect">
                <i class="fa fa-ticket"></i>
                <span> Все заявки <span class="badge badge-primary"></span></span>
            </a>
        </li>

        <li>
            <a href="users" class="waves-effect">
                <i class="fa fa-users"></i>
                <span> Пользователи <span class="badge badge-primary"></span></span>
            </a>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-barcode-scan"></i><span> Инвентарь </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li><a href="inventory_list">Список</a></li>
                <li><a href="inventory_add">Добавить</a></li>
            </ul>
        </li>

        {% endif  %}

    </ul>
        </div>
        <div class="clearfix"></div>
    </div> <!-- end sidebarinner -->
</div>
<!-- Left Sidebar End -->