   <!-- jQuery  -->
   <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/popper.min.js"></script>
   <script src="assets/js/bootstrap.min.js"></script>
   <script src="assets/js/modernizr.min.js"></script>
   <script src="assets/js/detect.js"></script>
   <script src="assets/js/fastclick.js"></script>
   <script src="assets/js/jquery.slimscroll.js"></script>
   <script src="assets/js/jquery.blockUI.js"></script>
   <script src="assets/js/waves.js"></script>
   <script src="assets/js/jquery.nicescroll.js"></script>
   <script src="assets/js/jquery.scrollTo.min.js"></script>
   
   <!-- Required datatable js -->
   <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
   <script src="assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
   <!-- Buttons examples -->
   <script src="assets/plugins/datatables/dataTables.buttons.min.js"></script>
   <script src="assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
   <script src="assets/plugins/datatables/jszip.min.js"></script>
   <script src="assets/plugins/datatables/pdfmake.min.js"></script>
   <script src="assets/plugins/datatables/vfs_fonts.js"></script>
   <script src="assets/plugins/datatables/buttons.html5.min.js"></script>
   <script src="assets/plugins/datatables/buttons.print.min.js"></script>
   <script src="assets/plugins/datatables/buttons.colVis.min.js"></script>
   <!-- Responsive examples -->
   <script src="assets/plugins/datatables/dataTables.responsive.min.js"></script>
   <script src="assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

   <!-- Datatable init js -->
   <script src="assets/pages/datatables.init.js"></script>
   
   <script src="assets/pages/animate-init.js"></script>

   <!--Text Editor js-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jodit/3.4.26/jodit.min.js"></script>
   

   <!-- App js -->
   <script src="assets/js/app.js"></script>
 