<!DOCTYPE html>
<html>
    <head>
        {% set page_name = 'Add Ticket' %} {% include 'modules/head.html' %}
    </head>


    <body class="fixed-left">

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
  <!-- Begin page -->
  <div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
            <i class="ion-close"></i>
        </button>

        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <!--<a href="index.html" class="logo">Admiry</a>-->
                <a href="index.html" class="logo"><img src="assets/images/logo.png" height="24" alt="logo"></a>
            </div>
        </div>

        <div class="sidebar-inner slimscrollleft">

            <div class="user-details">
                <div class="text-center">
                    <img src="assets/images/users/avatar-5.jpg" alt="" class="rounded-circle">
                </div>
                <div class="user-info">
                        <h4 class="font-16 text-white">{{login}}</h4>
                        <h4 class="font-14 text-white">{{rule}}</h4>
                </div>
            </div>

        <div id="sidebar-menu">
            <ul>
                <li class="menu-title text-white">Меню</li>

            <li>
                <a href="home" class="waves-effect">
                    <i class="ti-home"></i>
                    <span> Главная <span class="badge badge-primary"></span></span>
                </a>
            </li>

            <li>
                <a href="my_tickets" class="waves-effect">
                    <i class="fa fa-ticket"></i>
                    <span> Мои заявки <span class="badge badge-primary"></span></span>
                </a>
            </li>

            <li>
                <a href="add_ticket" class="waves-effect">
                    <i class="fa fa-ticket"></i>
                    <span> Создать заявку <span class="badge badge-primary"></span></span>
                </a>
            </li>

        </ul>
            </div>
            <div class="clearfix"></div>
        </div> <!-- end sidebarinner -->
    </div>
    <!-- Left Sidebar End -->

    <!-- Start right Content here -->

    <div class="content-page">
        <!-- Start content -->
        <div class="content">

            <!-- Top Bar Start -->
            <div class="topbar">

                <nav class="navbar-custom">

                    <ul class="list-inline float-right mb-0">
                      
                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src="assets/images/users/avatar-5.jpg" alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <a class="dropdown-item" href="logout"><i class="mdi mdi-logout m-r-5 text-muted"></i> Выход</a>
                            </div>
                        </li>

                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="list-inline-item">
                            <button type="button" class="button-menu-mobile open-left waves-effect">
                                <i class="ion-navicon"></i>
                            </button>
                        </li>
                        <li class="hide-phone list-inline-item app-search">
                            <h3 class="page-title">Портал технической поддержки | Создание заявки</h3>
                        </li>
                    </ul>

                    <div class="clearfix"></div>

                </nav>

            </div>
            <!-- Top Bar End -->

                    <div class="page-content-wrapper ">

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-12">
                                    <div class="card m-b-30">
                                        <div class="card-body">

                                            <h4 class="mt-0 header-title">Создание заявки</h4>
                                            <p class="text-muted m-b-30 font-14">В этом поле вы можете ввести информацию и отправить ее специалистам технической поддержки.</p>
                                            
                        <form class="form-horizontal m-t-20" method="POST" action="{{ url_for('routes.addticket') }}">
                                            <div class="form-group row">
                                                <label for="label_desc" class="col-sm-2 col-form-label">Заголовок</label>
                                                <div class="col-sm-10">
                                                    <input name='desc_ticket' class="form-control form-control-sm" type="text" placeholder="Введите краткую информацию" id="label_desc">
                                                </div>
                                            </div>
                                            <textarea id="summernote" name="text_ticket" class='summernote'></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary waves-effect m-l-5">
                                        Отправить
                                    </button>
                                </form>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                        </div><!-- container -->


                    </div> <!-- Page content Wrapper -->

                </div> <!-- content -->

                <footer class="footer">
                    © 2023 ParinovYT - ft by >.< Навалил.  <i class="mdi mdi-heart text-danger"></i>
                </footer>

            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->

        {% include 'modules/scripts.html' %}

        <script>
            jQuery(document).ready(function(){
                $('.summernote').summernote({
                    height: 300,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: true                 // set focus to editable area after initializing summernote
                });
            });
        </script>


    </body>
</html>