<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 100px;
        }
    </style>
    <title>Login</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Авторизация</span>
                    <form method="POST" action="{{ url_for('routes.login') }}">
                        <div class="input-field">
                            <input id="username" type="text" class="validate" name="username" required>
                            <label for="username">Имя пользователя</label>
                        </div>
                        <div class="input-field">

                            {% if password %}
                                <input value="{{ password }}" id="password" type="text" class="validate" name="password"
                                       required>
                            {% else %}
                                <input id="password" type="password" class="validate" name="password" required>
                            {% endif %}
                            <label for="password">Пароль</label>
                            <a href="login?passwordGenerate=true" onclick="document.forms[1].submit();">Сгенерировать
                                надежный пароль</a>
                        </div>
                        <button class="btn waves-effect waves-light" name="submit_button" type="submit" value="login">
                            Войти
                            <i class="material-icons right">send</i>
                        </button>
                        <button class="btn waves-effect waves-light" name="submit_button" type="submit"
                                value="register">Зарегистрироваться
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>