<!DOCTYPE html>
<html>
    <head>
        {% set page_name = 'Register' %} {% include 'modules/head.html' %}
    </head>


    <body>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                  
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Пользовательское соглашение</h4>
        </div>
        <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DT4F8FzOwjk?autoplay=1&mute=1" allowfullscreen></iframe>
              </div>
          <p>Не воруйте наш код, пожайлуста, 🙈🙉🙊</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

                    <h3 class="text-center mt-0 m-b-15">
                        <a href="index.html" class="logo logo-admin"><img src="assets/images/logo.png" height="30" alt="logo"></a>
                    </h3>

                    <h4 class="text-muted text-center font-18"><b>Создать учетную запись</b></h4>

                    <div class="p-3">
                        <form class="form-horizontal m-t-20" method="POST" action="{{ url_for('routes.register') }}">
                            

                        {% if status == 409  %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <p>Пользователь уже существует</p>
                            </div>
                        {% endif %}

                        {% if status == 400  %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <p>{{ _error|safe }}</p>
                            </div>
                        {% endif %}
                        
                        {% if status == 200  %} 
                            <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                Регистрация прошла успешно, статус: <b>{{ status }}</b>
                            </div>
                        {% endif %}


                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" name="username" type="text" required="" placeholder="Логин">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" name="password" type="password" required="" placeholder="Пароль">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input name="user_agreement" type="checkbox" class="custom-control-input" id="termsId" required="Примите условия пользовательского соглашения">
                                        <label class="custom-control-label font-weight-normal" for="termsId">Я ознакомлен с <a href="#" data-toggle="modal" data-target="#myModal" class="text-muted">пользовательским соглашением</a></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-center row m-t-20">
                                <div class="col-12">
                                    <button class="btn btn-info btn-block waves-effect waves-light" type="submit">Зарегестрироваться</button>
                                </div>
                            </div>

                            <div class="form-group m-t-10 mb-0 row">
                                <div class="col-12 m-t-20 text-center">
                                    <a href="login" class="text-muted">У вас уже есть учетная запись?</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        {% include 'modules/scripts.html' %}

        <script>
            $(document).ready(function() {
                $('a[href="#"]').click(function(e) {
                    e.preventDefault();
                    var target = $(this).data('target');
                    $(target).modal('show');
                });
            });
            </script>

    </body>
</html>
