<!DOCTYPE html>
<html>
    <head>
        {% set page_name = 'User Panel' %} {% include 'modules/head.html' %}
    </head>


    <body class="fixed-left">

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                    <i class="ion-close"></i>
                </button>

                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        <!--<a href="index.html" class="logo">Admiry</a>-->
                        <a href="index.html" class="logo"><img src="assets/images/logo.png" height="24" alt="logo"></a>
                    </div>
                </div>

                <div class="sidebar-inner slimscrollleft">

                    <div class="user-details">
                        <div class="text-center">
                            <img src="assets/images/users/avatar-5.jpg" alt="" class="rounded-circle">
                        </div>
                        <div class="user-info">
                                <h4 class="font-16 text-white">{{login}}</h4>
                                <h4 class="font-14 text-white">{{rule}}</h4>
                        </div>
                    </div>

                <div id="sidebar-menu">
                    <ul>
                        <li class="menu-title text-white">Меню</li>

                    <li>
                        <a href="home" class="waves-effect">
                            <i class="ti-home"></i>
                            <span> Главная <span class="badge badge-primary"></span></span>
                        </a>
                    </li>

                    <li>
                        <a href="my_tickets" class="waves-effect">
                            <i class="fa fa-ticket"></i>
                            <span> Мои заявки <span class="badge badge-primary"></span></span>
                        </a>
                    </li>

                    <li>
                        <a href="add_ticket" class="waves-effect">
                            <i class="fa fa-ticket"></i>
                            <span> Создать заявку <span class="badge badge-primary"></span></span>
                        </a>
                    </li>

                </ul>
                    </div>
                    <div class="clearfix"></div>
                </div> <!-- end sidebarinner -->
            </div>
            <!-- Left Sidebar End -->

            <!-- Start right Content here -->

            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <div class="topbar">

                        <nav class="navbar-custom">

                            <ul class="list-inline float-right mb-0">
                              
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                        <img src="assets/images/users/avatar-5.jpg" alt="user" class="rounded-circle">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                        <a class="dropdown-item" href="logout"><i class="mdi mdi-logout m-r-5 text-muted"></i> Выход</a>
                                    </div>
                                </li>

                            </ul>

                            <ul class="list-inline menu-left mb-0">
                                <li class="list-inline-item">
                                    <button type="button" class="button-menu-mobile open-left waves-effect">
                                        <i class="ion-navicon"></i>
                                    </button>
                                </li>
                                <li class="hide-phone list-inline-item app-search">
                                    <h3 class="page-title">Портал технической поддержки | Помощь</h3>
                                </li>
                            </ul>

                            <div class="clearfix"></div>

                        </nav>

                    </div>
                    <!-- Top Bar End -->
                    <div class="page-content-wrapper ">
                        <div class="container-fluid">
                            {% for category in template_issueses['categories'] %}
                            <div class="col-lg-6">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <h4 class="mt-0 header-title"> {{ category['category'] }} </h4>
                                        <div class="list-group">
                                            {% for issue in category['list'] %}
                                                <a data-toggle="modal" data-target="#myModal{{ loop.index0 }}" class="list-group-item list-group-item-action">{{ issue['issue'] }}</a>
                                                <div class="modal fade" id="myModal{{ loop.index0 }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ loop.index0 }}" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="myModalLabel{{ loop.index0 }}">Возможные проблемы по вашему вопросу</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                                                                  <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div id="accordion" role="tablist" aria-multiselectable="true">
                                                                    <div class="card">
                                                                        <div class="card-header" role="tab" id="headingOne{{ loop.index0 }}">
                                                                            <h5 class="mb-0 mt-0 font-16">
                                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{ loop.index0 }}" aria-expanded="false" aria-controls="collapseOne{{ loop.index0 }}" class="text-dark collapsed">
                                                                                    {{ issue['title'] }}
                                                                                </a>
                                                                            </h5>
                                                                        </div>
                                                                        <div id="collapseOne{{ loop.index0 }}" class="collapse" role="tabpanel" aria-labelledby="headingOne{{ loop.index0 }}" style="">
                                                                            <div class="card-body">
                                                                                {{issue['solution']|safe}}
                                                                            </div>
                                                                        </div>
                                                                    </div>   
                                                                </div>   
                                                            </div>  
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                            </div> 
                                                        </div>       
                                                    </div> 
                                                </div>
                                            {% endfor %}
                                          </div>
                                    </div>
                                </div>
                            </div>

                            
                            {% endfor %}
                        </div>
                    </div>

                </div> <!-- content -->

                <footer class="footer">
                    © 2023 ParinovYT - ft by >.< Навалил.  <i class="mdi mdi-heart text-danger"></i>
                </footer>

            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->

        <script>
            $(document).ready(function () {
                // Добавляем обработчик события клика для всех элементов с классом 'clickable'
                $('.clickable').on('click', function () {
                    // Переключаем состояние видимости collapse при клике
                    $($(this).data('target')).collapse('toggle');
                });
            });
        </script>
        {% include 'modules/scripts.html' %}
    </body>
</html>