<!DOCTYPE html>
<html>
  <head>

    {% set page_name = 'ViewTicket' %} {% include 'modules/head.html' %}
    {% include 'modules/custom_style_viewticket.html' %}

  </head>
  <body class="fixed-left">
    <!-- Loader -->
    <div id="preloader">
      <div id="status">
        <div class="spinner"></div>
      </div>
    </div>
    <!-- Begin page -->
    <div id="wrapper">
      {% include "./modules/left.html" %}
      <!-- Start right Content here -->
      <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <!-- Top Bar Start -->
          <div class="topbar">
            <nav class="navbar-custom">
              <ul class="list-inline float-right mb-0">
                <li class="list-inline-item dropdown notification-list">
                  <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="assets/images/users/avatar-5.jpg" alt="user" class="rounded-circle">
                  </a>
                  <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                    <a class="dropdown-item" href="logout">
                      <i class="mdi mdi-logout m-r-5 text-muted"></i> Выход </a>
                  </div>
                </li>
              </ul>
              <ul class="list-inline menu-left mb-0">
                <li class="list-inline-item">
                  <button type="button" class="button-menu-mobile open-left waves-effect">
                    <i class="ion-navicon"></i>
                  </button>
                </li>
                <li class="hide-phone list-inline-item app-search">
                  <h3 class="page-title">Портал технической поддержки | Просмотр заявки</h3>
                </li>
              </ul>
              <div class="clearfix"></div>
            </nav>
          </div>
          <!-- Top Bar End -->
          <div class="page-content-wrapper ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card m-b-30">
                    <div class="card-body">
                      <h4 class="mt-0 header-title">Заявка #{{id}}</h4>
                      <p class="text-muted m-b-30 font-14">В этом поле вы можете взаимодействовать с вашей заявкой.</p>

              
                      {% for message in history_chat %}
                        {% for comment in message['comments'] %}
                            {% if comment['sender'] == 'user' %}
                                <div class="user-message"><strong>Пользователь:</strong> {{ comment['text']|safe }}</div>
                            {% elif comment['sender'] == 'support' %}
                                <div class="support-message"><strong>Поддержка:</strong> {{ comment['text']|safe }}</div>
                            {% elif comment['sender'] == 'system' %}
                                <div class="system-message"><strong>Система:</strong> {{ comment['text']|safe }}</div>
                            {% endif %}
                        {% endfor %}     
                      {% endfor %}     

  <div class="c1">
    
  </div>
  {% if status_ticket == 3 %}

  {% else %}
    <textarea id="new-comment-text" class='summernote'></textarea>

    {% if rule == 'Пользователь' %}
        <button class="btn btn-primary" onclick="addComment('user')">Добавить комментарий</button>
    {% else %}
        <button class="btn btn-primary" onclick="addComment('support')">Добавить комментарий</button>
    {% endif %}

  {% endif %}


                    </div>
                    <!-- end col -->
                  </div>
                  <!-- end row -->
                </div>
                <!-- container -->
              </div>
              <!-- Page content Wrapper -->
            </div>
            <!-- content -->
            <footer class="footer"> © 2023 ParinovYT - ft by >.< Навалил. <i class="mdi mdi-heart text-danger"></i>
            </footer>
          </div>
          <!-- End Right content here -->
        </div>
        <!-- END wrapper -->

        {% include 'modules/scripts.html' %}

        <script>
          jQuery(document).ready(function() {
            $('.summernote').summernote({
              height: 300, // set editor height
              minHeight: null, // set minimum height of editor
              maxHeight: null, // set maximum height of editor
              focus: true // set focus to editable area after initializing summernote
            });
          });
        </script>

        <script>
            $(document).ready(function() {
              $('.summernote').summernote();
            });
          
            function addComment(sender) {
              var text = $('#new-comment-text').summernote('code');  // Получаем текст из Summernote
          
              // Выполнение POST-запроса
              $.post('/add_comment', { ticket_id: {{id}}, sender: sender, text: text }, function(response) {
                location.reload();  // Перезагрузка страницы после добавления комментария
              });
            }
          </script>
  </body>
</html>